<a href="https://colab.research.google.com/github/KarSanJu/Arquivos_legais2/blob/main/Project_Rupture.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
%pip install pandas

import pandas as pd

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [ ]:
rup = pd.read_excel('/content/rup 2.xlsx')

In [ ]:
rup.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 367091 entries, 0 to 367090
Data columns (total 22 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   Comp.                                     367091 non-null  object
 1   Código Fornecedor                         367091 non-null  object
 2   Nome Fornecedor                           366809 non-null  object
 3   Cód.                                      367091 non-null  int64
 4   Descrição                                 367091 non-null  object
 5   Curva Transf. Comprador                   367091 non-null  object
 6   Pesquisa                                  367091 non-null  object
 7   MP                                        367091 non-null  object
 8   IMP                                       367091 non-null  object
 9   Ativos                                    367091 non-null  int64
 10  Ruptura                                   367091 non-null  int64
 11  Centro                                    367091 non-null  object
 12  Estoque em Unidades Ativos                367091 non-null  int64
 13  Dta. Ult. Ent.                            367091 non-null  object
 14  Estoq Qtd CX CD                           367091 non-null  int64
 15  Estoq Qtd CX CD2                          367091 non-null  int64
 16  Estoq Qtd CX CD4                          367091 non-null  int64
 17  Estoq Qtd CX CD Total                     367091 non-null  int64
 18  Grupo de mercadorias externo Denominação  367091 non-null  object
 19  Estoque Quantidade CX Transf Centros      367091 non-null  object
 20  Maior Contador                            367091 non-null  float64
 21  Texto_Hierarquia3                         367091 non-null  object
dtypes: float64(1), int64(8), object(13)
memory usage: 61.6+ MB

In [ ]:
#RENOMEANDO COLUNAS
rup.rename(columns = {'Estoq Qtd CX CD4':'Estoq Qtd CX CT40'})

,Comp.,Código Fornecedor,Nome Fornecedor,Cód.,Descrição,Curva Transf. Comprador,Pesquisa,MP,IMP,Ativos,...,Estoque em Unidades Ativos,Dta. Ult. Ent.,Estoq Qtd CX CD,Estoq Qtd CX CD2,Estoq Qtd CX CT40,Estoq Qtd CX CD Total,Grupo de mercadorias externo Denominação,Estoque Quantidade CX Transf Centros,Maior Contador,Texto_Hierarquia3
0,BAR,5932,MINALBA ALIMENTOS E BEBIDAS LTDA,338486,"AGUA MINERAL S GAS MINALBA 1,5L",B,S,N,N,1,...,2381,44848,0,0,0,0,-,-,8.0,Agua Sem Gas
1,BAR,5932,MINALBA ALIMENTOS E BEBIDAS LTDA,338486,"AGUA MINERAL S GAS MINALBA 1,5L",B,S,N,N,1,...,1220,44847,0,0,0,0,-,-,8.0,Agua Sem Gas
2,BAR,5932,MINALBA ALIMENTOS E BEBIDAS LTDA,338486,"AGUA MINERAL S GAS MINALBA 1,5L",A,S,N,N,1,...,592,44840,0,0,0,0,-,168,8.0,Agua Sem Gas
3,BAR,5932,MINALBA ALIMENTOS E BEBIDAS LTDA,338486,"AGUA MINERAL S GAS MINALBA 1,5L",B,S,N,N,1,...,1024,44849,0,0,0,0,-,-,8.0,Agua Sem Gas
4,BAR,5932,MINALBA ALIMENTOS E BEBIDAS LTDA,338486,"AGUA MINERAL S GAS MINALBA 1,5L",B,S,N,N,1,...,699,44840,0,0,0,0,-,-,8.0,Agua Sem Gas
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
367086,PLQ,675194,LACTICINIOS TIROL LTDA,936833,BEB LAC TIROL SHOWKINHO CHOC 200ml,B,N,N,N,1,...,2326,44803,4785,0,0,4785,-,-,27.0,Achocolatado
367087,PLQ,675194,LACTICINIOS TIROL LTDA,936833,BEB LAC TIROL SHOWKINHO CHOC 200ml,A,N,N,N,1,...,746,44803,4785,0,0,4785,-,-,27.0,Achocolatado
367088,PLQ,675194,LACTICINIOS TIROL LTDA,936833,BEB LAC TIROL SHOWKINHO CHOC 200ml,B,N,N,N,1,...,7141,44804,4785,0,0,4785,-,-,27.0,Achocolatado
367089,PLQ,675194,LACTICINIOS TIROL LTDA,936833,BEB LAC TIROL SHOWKINHO CHOC 200ml,A,N,N,N,1,...,906,44803,4785,0,0,4785,-,-,27.0,Achocolatado
367090,PLQ,675194,LACTICINIOS TIROL LTDA,936833,BEB LAC TIROL SHOWKINHO CHOC 200ml,A,N,N,N,1,...,3532,44803,4785,0,0,4785,-,-,27.0,Achocolatado

In [ ]:
rup.head(-1)

,Comp.,Código Fornecedor,Nome Fornecedor,Cód.,Descrição,Curva Transf. Comprador,Pesquisa,MP,IMP,Ativos,...,Estoque em Unidades Ativos,Dta. Ult. Ent.,Estoq Qtd CX CD,Estoq Qtd CX CD2,Estoq Qtd CX CD4,Estoq Qtd CX CD Total,Grupo de mercadorias externo Denominação,Estoque Quantidade CX Transf Centros,Maior Contador,Texto_Hierarquia3
0,BAR,5932,MINALBA ALIMENTOS E BEBIDAS LTDA,338486,"AGUA MINERAL S GAS MINALBA 1,5L",B,S,N,N,1,...,2381,44848,0,0,0,0,-,-,8.0,Agua Sem Gas
1,BAR,5932,MINALBA ALIMENTOS E BEBIDAS LTDA,338486,"AGUA MINERAL S GAS MINALBA 1,5L",B,S,N,N,1,...,1220,44847,0,0,0,0,-,-,8.0,Agua Sem Gas
2,BAR,5932,MINALBA ALIMENTOS E BEBIDAS LTDA,338486,"AGUA MINERAL S GAS MINALBA 1,5L",A,S,N,N,1,...,592,44840,0,0,0,0,-,168,8.0,Agua Sem Gas
3,BAR,5932,MINALBA ALIMENTOS E BEBIDAS LTDA,338486,"AGUA MINERAL S GAS MINALBA 1,5L",B,S,N,N,1,...,1024,44849,0,0,0,0,-,-,8.0,Agua Sem Gas
4,BAR,5932,MINALBA ALIMENTOS E BEBIDAS LTDA,338486,"AGUA MINERAL S GAS MINALBA 1,5L",B,S,N,N,1,...,699,44840,0,0,0,0,-,-,8.0,Agua Sem Gas
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
367085,PLQ,675194,LACTICINIOS TIROL LTDA,936833,BEB LAC TIROL SHOWKINHO CHOC 200ml,A,N,N,N,1,...,5943,44803,4785,0,0,4785,-,-,27.0,Achocolatado
367086,PLQ,675194,LACTICINIOS TIROL LTDA,936833,BEB LAC TIROL SHOWKINHO CHOC 200ml,B,N,N,N,1,...,2326,44803,4785,0,0,4785,-,-,27.0,Achocolatado
367087,PLQ,675194,LACTICINIOS TIROL LTDA,936833,BEB LAC TIROL SHOWKINHO CHOC 200ml,A,N,N,N,1,...,746,44803,4785,0,0,4785,-,-,27.0,Achocolatado
367088,PLQ,675194,LACTICINIOS TIROL LTDA,936833,BEB LAC TIROL SHOWKINHO CHOC 200ml,B,N,N,N,1,...,7141,44804,4785,0,0,4785,-,-,27.0,Achocolatado
367089,PLQ,675194,LACTICINIOS TIROL LTDA,936833,BEB LAC TIROL SHOWKINHO CHOC 200ml,A,N,N,N,1,...,906,44803,4785,0,0,4785,-,-,27.0,Achocolatado

In [ ]:
rup.shape

(367091, 22)